In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jishu\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\jishu\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jishu\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jishu\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jishu\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jishu\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
!pip install "numpy<2"

Requirement already satisfied: numpy<2 in c:\users\jishu\anaconda3\lib\site-packages (1.26.4)

In [5]:
# Import Libraries and Load Dataset.
import pandas as pd
import numpy as np

In [7]:
# Checking the current working directory to verify the file path.
import os
os.getcwd()

'C:\\Users\\jishu'

In [9]:
df=pd.read_csv("C:/Users/jishu/OneDrive/Ritu/Customer-Churn-Dataset.csv")
df.head()

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [11]:
# Perform a thorough examination of the dataset to identify any missing values and duplicate records.
print("Missing values per column:\n", df.isnull().sum())
print("\nDuplicate rows:", df.duplicated().sum())

Missing values per column:
 CustomerID          0
Gender              0
SeniorCitizen       0
Partner             0
Dependents          0
Tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Duplicate rows: 0

In [13]:
# Convert 'TotalCharges' to numeric and check results
df['TotalCharges'] = df['TotalCharges'].astype(str).str.strip()  # remove spaces
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Verify conversion
print(f"TotalCharges dtype: {df['TotalCharges'].dtype}")
print(f"Null values in TotalCharges: {df['TotalCharges'].isna().sum()}")

TotalCharges dtype: float64
Null values in TotalCharges: 11

In [19]:
# Replace NaN values in 'TotalCharges' with 0
df['TotalCharges'] = df['TotalCharges'].replace(np.nan, 0)

# Verify no missing values remain
print(df.isnull().sum())

CustomerID          0
Gender              0
SeniorCitizen       0
Partner             0
Dependents          0
Tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [21]:
# Remove duplicates and show summary
before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]

print(f"Duplicates removed: {before - after}")
print(f"New shape: {df.shape}")

Duplicates removed: 0
New shape: (7043, 21)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        7043 non-null   object
 1   Gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   Tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [25]:
# Clean inconsistent categorical values
cols_to_clean = [
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies', 'MultipleLines'
]

df[cols_to_clean] = df[cols_to_clean].replace({
    'No internet service': 'No',
    'No phone service': 'No'
})

# Check cleaned values
for col in cols_to_clean:
    print(f"{col} unique values: {df[col].unique()}")

OnlineSecurity unique values: ['No' 'Yes']
OnlineBackup unique values: ['Yes' 'No']
DeviceProtection unique values: ['No' 'Yes']
TechSupport unique values: ['No' 'Yes']
StreamingTV unique values: ['No' 'Yes']
StreamingMovies unique values: ['No' 'Yes']
MultipleLines unique values: ['No' 'Yes']

In [35]:
# Step 8: Export the cleaned dataset
df.to_csv("Telco_Customer_Cleaned.csv", index=False)
print("Cleaned dataset saved as Telco_Customer_Cleaned.csv")

Cleaned dataset saved as Telco_Customer_Cleaned.csv